    <ion-list *ngIf="categoryToEdit === null ">
      <ion-item class="CategoryItem"  *ngFor="let category of categories">
        {{category.name}}
        <div id="Place">
          <ion-button fill="clear" color="dark" class="CategoryButton" (click)="EditCategory(category)">Ред.</ion-button>
          <ion-button fill="clear" color="dark" class="CategoryButton" (click)="DeleteCategory(category)" >Удалить</ion-button>
        </div>
      </ion-item>
    </ion-list>

    <div id="Edit" *ngIf="categoryToEdit !== null ">
      <ion-input class="ChangeInput" [(ngModel)]="newName" placeholder="Новое название"></ion-input>
      <ion-input class="ChangeInput" [(ngModel)]="newDescription" placeholder="Новое описание"></ion-input>
      <ion-button shape="round" color="dark" (click)="categoryToEdit = null">Отменить</ion-button><ion-button shape="round" color="dark" (click)="ChangeCategory()">Сохранить</ion-button>
    </div>
