.CategoryItem{
    width: 82vw;
    float: right;
    height: 7.576vh;
}

.CategoryButton{
    width: 5vw;
}

#Place{
    margin-left: auto;
}

#listheader{
    height: 7.851vh;
    border-bottom: 1px solid;
    border-color: gray;
}

h2{
    font-weight: bold;
    text-align: center;
}

#foot{
    height: 11.02vh;
}

ion-label{
  font-weight: bold;
  padding-left: 5px;
}

ion-textarea{
  padding-left: 0.69vh;
}

p{
  padding-left: 0.69vh;
  margin: 0;
}

.ChangeInput{
    width: 32.552vw;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(80, 80, 80);
    border-radius: 0.69vh;
    margin-bottom: 1.28vh;
  }

#Edit{
    margin-left: 1.28vh;
    margin-top: 1.28vh;
}
