.CategoryItem{
    width: 82.5vw;
    float: right;
    height: 55px;
}

.CategoryButton{
    width: 70px;
}

#Place{
    margin-left: auto;
}

#listheader{
    height: 57px;
    border-bottom: 1px solid;
    border-color: gray;
}

h2{
    font-weight: bold;
    text-align: center;
}

#foot{
    height: 80px;
}