.CategoryItem{
  width: 82.29vw;
  float: right;
  height: 55px;
}

.ChangeInput{
  width: 500px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(80, 80, 80);
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.CategoryButton{
  width: 70px;
}

#Place{
  margin-left: auto;
}

#login{
  font-weight: bold;
}

#listheader{
  height: 57px;
  border-bottom: 1px solid;
  border-color: gray;
}

h2{
  font-weight: bold;
  text-align: center;
}

#foot{
  height: 80px;
}

#SelectedUser{
  text-align: left;
}

#ChangeUser{
  margin-top: 15px;
  margin-left: 15px;
}

#ChangeButton{
  margin-top: 15px;
}
