<ion-list *ngIf="userToEdit === null">
  <ion-item class="CategoryItem"  *ngFor="let user of users">
    <ion-label id="login"> {{user.login}} </ion-label>
    <ion-item>
      <ion-label> Админ: {{user.isAdmin.toString()}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Модератор: {{user.isModer.toString()}} </ion-label>
    </ion-item>
    <div id="Place">
      <ion-button fill="clear" color="dark" class="CategoryButton" (click)="SelectUser(user)">Ред.</ion-button>
      <ion-button fill="clear" color="dark" class="CategoryButton" (click)="DeleteUser(user)">Удалить</ion-button>
    </div>
  </ion-item>
</ion-list>

<div *ngIf="userToEdit !== null" id="ChangeUser">
  <h2 id="SelectedUser">
    {{userToEdit.login}}
  </h2>
  <ion-item class="ChangeInput">
    <ion-label>Админ:</ion-label>
    <ion-toggle *ngIf="this.newIsAdmin === true" checked="true" (click)="ChangeAdmin()"></ion-toggle>
    <ion-toggle *ngIf="this.newIsAdmin === false" checked="false" (click)="ChangeAdmin()"></ion-toggle>
  </ion-item>
  <ion-item class="ChangeInput">
    <ion-label>Модератор:</ion-label>
    <ion-toggle *ngIf="this.newIsModer === true" checked="true" (click)="ChangeModer()"></ion-toggle>
    <ion-toggle *ngIf="this.newIsModer === false" checked="false" (click)="ChangeModer()"></ion-toggle>
  </ion-item>
  <ion-button shape="round" color="dark" id="ChangeButton" (click)="userToEdit = null">Отменить</ion-button><ion-button shape="round" color="dark" id="ChangeButton" (click)="ChangeUser()">Сохранить</ion-button>
</div>
