.CategoryItem{
  width: 82.29vw;
  float: right;
  height: 55px;
}

.ChangeInput{
  width: 32.55vw;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(80, 80, 80);
  border-radius: 5px;
  margin-bottom: 2.07vh;
  margin-top: 2.07vh;
}

.CategoryButton{
  width: 4.56vw;
}

#Place{
  margin-left: auto;
}

#login{
  font-weight: bold;
}

#listheader{
  height: 7.85vh;
  border-bottom: 1px solid;
  border-color: gray;
}

h2{
  font-weight: bold;
  text-align: center;
}

#foot{
  height: 11.02vh;
}

#SelectedUser{
  text-align: left;
}

#ChangeUser{
  margin-top: 2.07vh;
  margin-left: 2.07vh;
}

#ChangeButton{
  margin-top: 2.07vh;
}
