<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="Title">
            <ion-label class="Title">
              MRTA
              <sup class="Sup"> ed </sup>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-searchbar color="light" placeholder="Поиск по документам" id="searchbar"></ion-searchbar>
            <!-- <ion-input class="Input" color="dark" placeholder="Поиск по документам"></ion-input> -->
          </ion-col>
          <ion-col>
              <ion-button fill="clear" size="medium" color="dark" class="Help" routerLink="/add-item"> <u>Загрузить</u> </ion-button>
              <ion-button fill="clear" size="medium" color="dark" class="Help" routerLink="/favorite"> <u>Избранное</u> </ion-button>
              <ion-button fill="outline" size="medium" color="dark" class="EnterButton" shape="round" routerLink="/sign-in"> Войти </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="rectangle"></div>

  <div id="Input">
    <ion-input>Название</ion-input>
    <ion-input>Предмет</ion-input>
    <ion-input>Курс/Класс</ion-input>
    <ion-input>Автор</ion-input>
    <ion-input>Год</ion-input>
    <ion-input>Учебное заведение</ion-input>
    <ion-input>Описание</ion-input>
    <ion-button>Загрузить</ion-button>
  </div>

</ion-content>
