<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1 class="Title">
              MRTA
              <sup class="Sup"> ed </sup>
            </h1>
          </ion-col>
          <ion-col>
            <ion-input class="Input" color="dark" placeholder="Поиск по документам"></ion-input>
          </ion-col>
          <ion-col>
              <ion-button fill="clear" expand="none" size="small" color="dark" class="Help"> <u>Загрузить</u> </ion-button>
              <ion-button fill="clear" expand="none" size="small" color="dark" class="Help"> <u>Избранное</u> </ion-button>
              <ion-button fill="outline" size="medium" color="dark" class="EnterButton" shape="round"> Войти </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
