<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="Title">
            <ion-label class="Title">
              MRTA
              <sup class="Sup"> ed </sup>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-searchbar color="black" placeholder="Поиск по документам" id="searchbar"></ion-searchbar>
            <!-- <ion-input class="Input" color="dark" placeholder="Поиск по документам"></ion-input> -->
          </ion-col>
          <ion-col>
              <ion-button fill="clear" size="medium" color="dark" class="Help"> <u>Загрузить</u> </ion-button>
              <ion-button fill="clear" size="medium" color="dark" class="Help"> <u>Избранное</u> </ion-button>
              <ion-button fill="outline" size="medium" color="dark" class="EnterButton" shape="round"> Войти </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="Slide"> 
      <ion-range dualKnobs="true" min="1993" max="2021" step="1" pin="true" snaps="true"></ion-range>
  </div>

  <div id="Select">
    <ion-item>
      <ion-label>Предмет</ion-label>
      <ion-select interface="popover">Предмет</ion-select>

      <ion-label>Автор</ion-label>
      <ion-select interface="popover">Автор
        <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
      </ion-select>

      <ion-label>Специальность</ion-label>
      <ion-select interface="popover">Специальность</ion-select>

      <ion-button>Очистить фильтры</ion-button>
    </ion-item>
  </div>

  <div id="container">
   </div>
</ion-content>
