<div *ngIf="this.viewPost === null">
  <div *ngFor="let post of viewPosts | filter:searchTerm" id="Item">
    <ion-row id="Place">
      <ion-col id="left"> <ion-label>{{post.category}}</ion-label> </ion-col><ion-col>|</ion-col><ion-col id="center"> <ion-label>{{post.theme}}</ion-label> </ion-col><ion-col>|</ion-col><ion-col id="right"> {{post.year}}</ion-col>
    </ion-row>
    <ion-row id="name">
      <h2>{{post.name}}</h2>
    </ion-row>
    <ion-row id="description">
      Предмет: {{post.subject}}
    </ion-row>
    <ion-row id="description">
      Автор: {{post.author}}
    </ion-row>
    <ion-row id="description">
      {{post.description}}
    </ion-row>
    <ion-row id="buttonsRow">
      <ion-col>
        <ion-button id="favButton" fill="clear" size="medium" color="dark"> <ion-icon name="heart-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button id="openButton" fill="clear" size="small" color="dark" (click)="ViewPost(post)">Открыть</ion-button>
      </ion-col>
    </ion-row>
  </div>
</div>

<div *ngIf="this.viewPost !== null" id="Post">
  <ion-row id="postName">
    <h2>{{this.viewPost.name}}</h2>
  </ion-row>
  <ion-row id="postInformation">
    Тема: {{this.viewPost.theme}}
  </ion-row>
  <ion-row id="postInformation">
    Категория: {{this.viewPost.category}}
  </ion-row>
  <ion-row id="postInformation">
    Предмет: {{this.viewPost.subject}}
  </ion-row>
  <ion-row id="postInformation">
    Университет: {{this.viewPost.university}}
  </ion-row>
  <ion-row id="postInformation">
    Курс: {{this.viewPost.courseNumber}}
  </ion-row>
  <ion-row id="postInformation">
    Автор: {{this.viewPost.author}}
  </ion-row>
  <ion-row id="postInformation">
    Год публикации: {{this.viewPost.year}}
  </ion-row>
  <ion-row id="postDescription">
    {{this.viewPost.description}}
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button fill="clear" size="medium" color="dark" (click)="this.viewPost = null" id="postButton">Назад</ion-button>
      <ion-button fill="clear" size="medium" color="dark">Скачать файл</ion-button>
      <ion-button fill="clear" size="medium" color="dark"> <ion-icon name="heart-outline"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
</div>
