.CategoryItem{
    width: 82.5vw;
    float: right;
    height: 7.576vh;
}

.CategoryButton{
    width: 8.851vh;
}

#Place{
    margin-left: auto;
}

#listheader{
    height: 7.85vh;
    border-bottom: 1px solid;
    border-color: gray;
}

h2{
    font-weight: bold;
    text-align: center;
}

#foot{
    height: 11.02vh;
}

.ChangeInput{
    width: 19.53vw;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-bottom: 2.07vh;
}

ion-button{
  margin-left: 2.07vh;
}
