.Title{
    padding-top: 1.33%;
    font-size: xx-large;
    font-weight: bold;
  }

  .Sup{
    padding-bottom: 5.21vw;
    background-color: rgb(64, 169, 255);
    color: white;
    font-weight: normal;
    font-size: medium;
    padding: 0;
    padding-left: 0.52vw;
    padding-right: 0.52vw;
    border-radius: 1.82vw;
  }

  .Help{
    margin: 0.52vw;
    padding-top: 0.52vw;
  }
  
  .EnterButton{
    font-weight: bold;
    margin: 0.52vw;
    padding-top: 0.52vw;
    padding-left: 0.78vw;
  }

  #sidemenu{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 17.7vw;
    height: 90vh;
    margin: 0;
    padding: 0;
  }

  #menulabel{
    font-weight: bold;
    text-align: left;
  }

  ion-button{
    height: 5.2341vh;
    font-weight: normal;
  }

  #col{
    margin: 0;
    border: 1px solid;
    border-color: gray;
    padding: 0;
  }

  .Component{
    width: 81vw;
  }

  #grid{
    margin: 0;
    padding: 0;
  }

  h2{
    font-weight: bold;
    text-align: center;
  }

  #header{
    border-bottom: 1px solid;
    border-color: gray;
  }

  #listheader{
    height: 57px;
    border-bottom: 1px solid;
    border-color: gray;
  }

  ion-list{
    height: 70vh;
  }

  #popup{
    height: 69vh;
    margin: 1.04vw;
    width: 30vh;
    float: right;
    border: 5px solid brown;
    background-color: white;
    margin-left: -0.26vw;
  }

p{
    float: left;
    margin-left: 1.30vw;
    margin-top: -3.65vw;
}
