<ion-header>
  <ion-toolbar>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="Title">
            <ion-label class="Title" routerLink="/home">
              mcb
              <sup class="Sup"> repository </sup>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Вход</h1>
  <ion-input class="EnterInput" placeholder="Логин или эл. почта" [(ngModel)]="login"></ion-input>
  <ion-input class="EnterInput" type="Password" placeholder="Пароль" [(ngModel)]="password"></ion-input>
  <ion-item class="CheckBox">
    <ion-label>Оставаться в системе</ion-label>
    <ion-checkbox (click)="ChangeStay()"></ion-checkbox>
  </ion-item>
  <ion-button class="EnterButton" shape="round" color="dark" (click)="SignIn()" >Войти</ion-button>
  <ion-button fill="clear" size="small" color="dark" id="Enter" routerLink="/register">Зарегестрироваться</ion-button>

</ion-content>
