<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="Title">
            <ion-label class="Title" routerLink="/home">
              mcb
              <sup class="Sup"> repository </sup>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Вход</h1>
  <ion-input class="EnterInput" placeholder="Логин или эл. почта"></ion-input>
  <ion-input class="EnterInput" type="Password" placeholder="Пароль"></ion-input>
  <ion-button class="EnterButton" shape="round" color="dark">Войти</ion-button>
  <ion-button fill="clear" size="small" color="dark" id="Enter" routerLink="/register">Зарегестрироваться</ion-button>

</ion-content>
