<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="Title">
            <ion-label class="Title" routerLink="/home">
              mcb
              <sup class="Sup"> repository </sup>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid id="grid">
        <ion-row id="grid">
            <ion-list id="sidemenu">
              <ion-item id="header" (click)="Reset()">
                <ion-avatar slot="start">
                  <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png">
                </ion-avatar>
                <ion-label id="menulabel">{{user.login}}</ion-label>
              </ion-item>
                <ion-button fill="clear" size="medium" color="dark" expand="full" id="menulabel">Сменить логин</ion-button>
                <ion-button fill="clear" size="medium" color="dark" expand="full" id="menulabel" (click)="Change('changePassword')">Сменить пароль</ion-button>
                <ion-button *ngIf="this.user.isAdmin === true" fill="clear" size="medium" color="dark" expand="full" id="menulabel" (click)="Change('categories')"> Ред. категории </ion-button>
                <ion-button *ngIf="this.user.isModer === true || this.user.isAdmin === true" fill="clear" size="medium" color="dark" expand="full" id="menulabel" (click)="Change('subjects')"> Ред. предметы </ion-button>
                <ion-button *ngIf="this.user.isAdmin === true" fill="clear" size="medium" color="dark" expand="full" id="menulabel" (click)="Change('users')"> Ред. пользователей </ion-button>
                <ion-button *ngIf="this.user.isAdmin === false" disabled="true" fill="clear" size="medium" color="dark" expand="full" id="menulabel"></ion-button>
                <ion-button *ngIf="this.user.isAdmin === false" disabled="true" fill="clear" size="medium" color="dark" expand="full" id="menulabel"></ion-button>
                <ion-button *ngIf="this.user.isAdmin === false && this.user.isModer === false" disabled="true" fill="clear" size="medium" color="dark" expand="full" id="menulabel"></ion-button>
                <ion-button disabled="true" fill="clear" size="medium" color="dark" expand="full" id="menulabel"></ion-button>
                <ion-button disabled="true" fill="clear" size="medium" color="dark" expand="full" id="menulabel"></ion-button>
                <ion-button disabled="true" fill="clear" size="medium" color="dark" expand="full" id="menulabel"></ion-button>
                <ion-button disabled="true" fill="clear" size="medium" color="dark" expand="full" id="menulabel"></ion-button>
                <ion-button disabled="true" fill="clear" size="medium" color="dark" expand="full" id="menulabel"></ion-button>
                <ion-button disabled="true" fill="clear" size="medium" color="dark" expand="full" id="menulabel"></ion-button>
                <ion-button fill="clear" size="medium" color="dark" expand="full" id="menulabel" (click)="Logout()">Выйти</ion-button>
            </ion-list>
        <ion-col id="col" class="Component" *ngIf="this.user.isAdmin === true && this.selection === 'users' ">
          <ion-item id="listheader">
            <h2> Пользователи </h2>
          </ion-item>
          <app-users></app-users>
        </ion-col>
        <ion-col class="Component" id="col" *ngIf="this.selection === 'categories' ">
          <ion-item id="listheader">
            <h2> Категории </h2>
          </ion-item>
          <app-categories></app-categories>
        </ion-col>
        <ion-col class="Component" id="col" *ngIf="this.selection === 'subjects' ">
          <ion-item id="listheader">
            <h2> Предметы </h2>
          </ion-item>
          <app-subjects></app-subjects>
        </ion-col>
        <ion-col class="Component" id="col" *ngIf="this.selection === 'changePassword' ">
          <ion-item id="listheader">
            <h2> Сменить пароль </h2>
          </ion-item>
          <app-change-password></app-change-password>
        </ion-col>
        <ion-col id="col" class="Component" *ngIf="this.selection === '' ">
          <ion-item id="listheader">
            <h2> Посты </h2>
          </ion-item>
          <app-posts></app-posts>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div id="popup">
    </div>
</ion-content>
