<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="Title">
            <ion-label class="Title" routerLink="/home">
              mcb
              <sup class="Sup"> repository </sup>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content enctype="multipart/form-data">

  <div id="rectangle">
    <ion-input id="fileInput" type="file" (change)="onFileChange($event)"></ion-input>
  </div>

  <div id="Input">
    <ion-input [(ngModel)]="name" placeholder="Название" class="Input"></ion-input>
    <ion-input [(ngModel)]="theme" placeholder="Тема" class="Input"></ion-input>
    <ion-select [(ngModel)]="category" placeholder="Категория" class="Input" (ionChange)="SelectCategory()">
      <ion-select-option *ngFor="let category of viewCategories">{{category.name}}</ion-select-option>
    </ion-select>
    <ion-select [(ngModel)]="subject" placeholder="Предмет" class="Input" (ionChange)="SelectSubject()">
      <ion-select-option *ngFor="let subject of viewSubjects">{{subject.name}}</ion-select-option>
    </ion-select>
    <ion-input [(ngModel)]="courseNumber" placeholder="Курс/Класс" class="Input"></ion-input>
    <ion-input [(ngModel)]="author" placeholder="Автор" class="Input"></ion-input>
    <ion-input [(ngModel)]="year" placeholder="Год" class="Input"></ion-input>
    <ion-input [(ngModel)]="university" placeholder="Учебное заведение" class="Input"></ion-input>
    <ion-input [(ngModel)]="description" placeholder="Описание" class="Input"></ion-input>
    <ion-button fill="solid" class="UploadButton" shape="round" color="dark" (click)="AddPost()">Загрузить</ion-button>
  </div>

</ion-content>
