.Title{
  padding-left: 8px;
  font-weight: bold;
}

.BackButton{
  padding-left: 5px;
}

.FormModule{
  padding-left: 5px;
  padding-right: 5px;
}

.Label{
  font-weight: bold;
  padding-left: 10px;
}

.Input{
  padding-left: 10px;
  padding-right: 10px;
}

.SchedulesButton{
  padding-right: 10px;
  padding-left: 10px;
}

h2{
  font-weight: bold;
  padding-left: 10px;
}

h3{
  font-weight: bold;
  padding-left: 10px;
}

ion-input{
  padding-left: 10px;
  color: #ccc;
}

ion-label{
  font-weight: bold;
}

.Block{
  border: 1px #cccc solid;
  margin: 10px;
}

.Container{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.Day{
  border: 2px #cccc solid;
  margin: 5px;
}

.Button{
  margin: 10px auto;
  padding-left: 35px;
}
