.BackButton{
    padding-right: 60%;
    padding-left: 1%;
}

h4{
  padding-left: 10px;
  font-weight: bold;
}

h3{
  font-weight: bold;
  padding-left: 5px;
}

.Container{
  margin: 5px;
  padding: 5px;
}

.Selection{
  margin-top: 5px;
  border: 2px #cccc solid;
}

.Ready{
  padding-left: 25%;
  padding-right: 25%;
}
