.PageTitle{
  padding-left: 10px;
  padding-top: 5px;
  font-weight: bold;
  margin: 5px auto;
}

.ToolBar{
  padding:3px;
}

.GroupsButton{
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.Special{
  font-size: 8;
}

.BackButton{
  padding-left: 10px;
}

.RefreshButton{
  padding-top:5px;
}

.BlockButton{
  padding-right: 10px;
  padding-left: 10px;
}

.Button{
  margin: 2px;
}

.ButtonBar{
  padding-left: 13px;
}
