#container {
  text-align: center;

  // position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.Title{
  width: 12vw;
  padding-top: 1.33%;
  font-size: xx-large;
  font-weight: bold;
}

.Sup{
  padding-bottom: 100px;
  background-color: rgb(64, 169, 255);
  color: white;
  font-weight: normal;
  font-size: medium;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 35px;
}

.Input{
  margin-top: 10px;
  margin-left: 0;
}

.Help{
  margin: 10px;
  padding-top: 10px;
}

.EnterButton{
  font-weight: bold;
  margin: 10px;
  padding-top: 10px;
  padding-left: 15px;
}

.Item{
  width: 100px;
  font-weight: bold;
  margin: 10px;
  padding-top: 10px;
  padding-left: 15px;
}

u{
  font-weight: bold;
}

#Slide{
  text-align: center;
  left: 0;
  right: 0;
}

#Select{
  padding-left: 15px;
  padding-right: 30px;
  width: 900px;
}

#popup{
  height: 69vh;
  margin: 20px;
  margin-top: 15px;
  width: 30vh;
  float: right;
  border: 5px solid brown;
  background-color: white;
  margin-left: -5px;
}

#icon{
  width: 10vw;
  margin-right: 20px;
}

.SelectItem{
  width: 13.9vw;
  margin-left: 15px;
  margin-right: 0;
  padding: 0;
}

.SelectToggle{
  width: 20vw;
  margin-left: 190px;
  margin-right: 15px;
}

.Toggle{
  margin-top: 10px;
}

.ClearButton{
  width: 13.9vw;
  margin-top: 15px;
  width: 200px;
  margin-top: 10px;
  margin-left: 8px;
}

#item{
  width: 13.9vw;
}

#category{
  width: 13.9vw;
  height: 27.2vh;
  margin: 10px;
  padding: 0;
}

#category-name{
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

#searchbar{
  margin-top: 8px;
  margin-left: 10px;
  width: 46.7vw;
  text-align: center;
}
