<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="Title">
              <ion-label class="Title">
                mcb
                <sup class="Sup"> repository </sup>
              </ion-label>
          </ion-col>
          <ion-col>
            <ion-searchbar color="light" placeholder="Поиск по документам" id="searchbar" [(ngModel)]="searchbar" animated (ionChange)="Searchbar()"></ion-searchbar>
          </ion-col>
          <ion-col>
              <ion-button *ngIf="user === null" fill="clear" size="medium" color="dark" class="Help" routerLink="/sign-in"> <u>Загрузить</u> </ion-button>
              <ion-button *ngIf="user !== null" fill="clear" size="medium" color="dark" class="Help" (click)="GoAdd()"> <u>Загрузить</u> </ion-button>
              <ion-button *ngIf="user === null" fill="clear" size="medium" color="dark" class="Help" routerLink="/sign-in"> <u>Избранное</u> </ion-button>
              <ion-button *ngIf="user !== null" fill="clear" size="medium" color="dark" class="Help" (click)="GoFavorite()"> <u>Избранное</u> </ion-button>
              <ion-button *ngIf="user === null" size="medium" color="dark" class="EnterButton" shape="round" fill="outline" routerLink="/sign-in"> Войти </ion-button>
              <ion-button *ngIf="user !== null" size="medium" color="dark" class="EnterButton" shape="round" fill="outline" (click)="GoProfile()"> <ion-label>{{user.login}}</ion-label> </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
    <div id="Slide">
      <ion-range color="dark" dualKnobs="true" min="1993" max="2021" step="1" pin="true" snaps="true"></ion-range>
  </div>

  <ion-grid>
      <ion-row>
        <ion-col class="SelectItem">
          <app-view-categories></app-view-categories>
        </ion-col>
        <ion-col class="SelectItem">
          <app-view-subjects></app-view-subjects>
        </ion-col>
        <ion-col class="SelectItem">
          <app-view-authors></app-view-authors>
        </ion-col>
        <ion-col id="item">
          <ion-button class="ClearButton" fill="outline" size="small" color="dark" (click)="Reset()"> Очистить фильтры </ion-button>
        </ion-col>
        <ion-col class="SelectToggle">
            <ion-item>
              <ion-label class="Toggle"> Посик по категориям </ion-label>
              <ion-toggle (click)="SwitchSearch()" checked="true"></ion-toggle>
            </ion-item>
        </ion-col>
      </ion-row>
  </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-col id="popup">
  </ion-col>
  <app-main *ngIf="showPosts === true || this.searchCategories === false" ></app-main>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid *ngIf="searchCategories === true && showPosts === false">
    <ion-row no-padding >
      <ion-col *ngFor="let category of categories" alt="category.name">
        <ion-card id="category" (click)="SelectCategory(category)">
          <ion-card-title id="category-name" > {{category.name}} </ion-card-title>
          <ion-card-content>
            {{category.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
