.CategoryItem{
    margin-top: 9vw;
    width: 82.29vw;
    float: right;
    height: 7.576vh;
}

.ChangeInput{
    width: 19.53vw;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-bottom: 2.07vh;
}

.ChangeButton{
    display: block;
    margin: auto;
    width: 12.04vw;
}

#popup{
    height: 69vh;
    margin: 2.75vh;
    width: 30vh;
    float: right;
    border: 5px solid brown;
    background-color: white;
    margin-left: -0.69vh;
  }
