.Title{

    padding-top: 1.33%;
    font-size: xx-large;
    font-weight: bold;
  }

  .Sup{
    padding-bottom: 5.21vw;
    background-color: rgb(64, 169, 255);
    color: white;
    font-weight: normal;
    font-size: medium;
    padding: 0;
    padding-left: 0.52vw;
    padding-right: 0.52vw;
    border-radius: 1.82vw;
  }

  h1{
    text-align: center;
    margin-top: 20.661vh;
    margin-bottom: 4.132vh;
  }

  .RegisterInput{
    width: 41.322vh;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
    display:block;
    margin: auto;
    margin-bottom: 2.07vh;
  }

  .RegisterButton{
    display:block;
    margin: auto;
    width: 25.48vh;
  }

  #Register{
    display:block;
    margin: auto;
    margin-top: 2.07vh;
    width: 34.44vh;
  }
