.CategoryItem{
    margin-top: 9vw;
    width: 82.29vw;
    float: right;
    height: 55px;
}

.ChangeInput{
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(80, 80, 80);
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.ChangeButton{
    display: block;
    margin: auto;
    width: 185px;
}

