<ion-header>
  <ion-toolbar>
    <h1>Расписания:</h1>
    <h4>Группа: {{groupName}}</h4>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment value="chisl">
    <ion-segment-button (click)="changeChislToChisl()" value="chisl">
      <ion-label> Числитель </ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="changeChislToZnam()" value="znam">
      <ion-label> Знаменатель </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="isChisl">
    <app-schedule-chisl [pairs]="pairsChisl"></app-schedule-chisl>
  </div>

  <div *ngIf="!isChisl">
    <app-schedule-znam [pairs]="pairsZnam"></app-schedule-znam>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div>
      <ion-button class="BackButton" size="small" expand="block" color="medium" (click)="goBack()"> Назад </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
