.ChangeInput{
  width: 68.87vh;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(80, 80, 80);
  border-radius: 5px;
  margin: auto;
  margin-bottom: 2.07vh;
}

.AddButton{
  display: block;
  margin: auto;
  width: 25.48vh;
}

.CategoryItem{
  margin-top: 9vw;
  width: 82.29vw;
  float: right;
  height: 7.576vh;
}
